#root {
margin: 0 auto;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(12, 11, 11);
}

main {
  min-height: 100vh;
  background-color: rgb(12, 11, 11);
}

p {
  color: white
}